
<div class="container">
<h1 class="text-center mt-3"><%= @list.name %></h1>
<div class="container text-center">
  <div class="row mb-3">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://www.corneliustoday.com/wp-content/uploads/2021/04/theater-seats.jpg" class="card-img-top" alt="Img">
          <div class="card-body">
            <h5 class="card-title"><%= bookmark.movie.title %></h5>
            <p class="card-text"><%= bookmark.movie.overview %></p>
            <a><%= link_to "Delete", bookmark_path(bookmark),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger" %></a>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>


<h2>Add a movie</h2>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.button :submit, class:"btn btn-success mb-3" %>
<% end %>

<%= link_to "Back to Lists", lists_path, class:"btn btn-warning mb-5"  %>
</div>
